
                .dropdown-menu 
                    {
                        margin: -0.125rem 0 0;
                    }
                .carousel
                    {
                        width: 55%;
                    }

                    table, th, td {
                        border: 1px solid black;
                    }

                .element
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }

                .element > article
                {
                    width: 30%;
                }

                @media screen and (max-width: 1500px) 
                {

                    .element > article
                    {
                        width: 45%;
                    }
                }

                @media screen and (max-width: 1200px) 
                {
                    .carousel
                    {
                        width: 70%;
                    }
                    .element > article
                    {
                        width: 45%;
                    }
                }
                
                @media screen and (max-width:1000px) 
                {
                    .carousel
                    {
                        width: 20%;
                    }
                    .element > article
                    {
                        width: 48%;
                    }
                }

                 @media screen and (max-width:700px) 
                {
                    .carousel
                    {
                        width: 100%;
                        min-width: 100px;
                    }
                    .element
                    {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                    }

                    .element > article
                    {
                        width: 100%;
                    }
                }

                .pied-de-page
                {
                    font-size: 0.8em;
                }

                .pied-de-page ul
                {
                    list-style-type: none
                }



                @media screen and (max-width: 1200px) 
                {
                    .pied-de-page
                    {
                        font-size: 0.6em;
                    }

                }

                @media screen and (max-width: 900px) 
                {
                    .pied-de-page
                    {
                        font-size: 0.5em;
                    }

                }

                @media screen and (max-width: 600px) 
                {
                    .pied-de-page
                    {
                        font-size: 0.4em;
                    }

                } 

        
                .form{
                    
                    border-radius:25px;
                    
                    padding:20px 30px;
                    max-width:calc(100vw - 40px);
                    box-sizing:border-box;
                    font-family:'Helvetica', sans-serif;
                    
                }

                .colored{
                    color:aliceblue;
                }

                .pad{
                    margin-top: 5%;
                    margin-bottom: 10%;
                    margin-left: 12%;
                    margin-right: 12%;
                }

                /*.searchbar{
                    margin-left: 15%;
                    padding:15px;
                    border-radius: 10px;
                }*/

                .error{
                    color:red;
                }

                .radius {
                    border-radius: 70px;
                  }





